body {
  margin: 0;
  background-color: hsl(216, 77%, 7%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background-color: #f5f5f5;
  max-height: 900px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: 80vw;
  min-width: 300px;
  padding: 20px;
}

.container .instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .success {
  color: green;
  font-weight: bold;
}

.container .fail {
  color: red;
  font-weight: bold;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  gap: 15px;
}

.die-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 3px gray;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .5s;
  font-weight: bold;
  font-size: large;
}


.die-container:hover {
  transform: scale(1.1);
}


.container button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: hsl(248, 100%, 60%);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  transition: all .5s;
}

.container button:hover {
  background-color: hsl(248, 100%, 50%);
}

.container button:focus {
  outline: none;
}

.container button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.difficulty {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.container .level .difficulty button {
  width: 100px;
}

.container .level .difficulty button:nth-child(1) {
  background-color: hsl(100, 90%, 45%);
}

.container .level .difficulty button:nth-child(2) {
  background-color: hsl(44, 90%, 55%);
}

.container .level .difficulty button:nth-child(3) {
  background-color: hsl(355, 95%, 55%);
}