* {
    margin: 0;
  }
  
  nav {
    background: #242322;
    height: 50px;
    overflow: hidden;
  }
  
  .text-container {
    background-color: #e90e0e;
    white-space: nowrap; /* Ensures all text stays on a single line */
    width: auto;
    animation: move 30s linear infinite; /* Linear animation for smooth movement */
  }
  
  .text {
    display: inline-block;
  }
  
  @keyframes move {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  