body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    min-height: 100vh;
}
.container {
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

.container h3 {
    color: hsl(180, 20%, 13%);
    font-weight: bold;
}

button {
    border: none;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}