body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-login-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 400px;
}
.chat-login-container .header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  background-color: hsl(237, 91%, 90%);
  color: #000;
  padding: 20px;
  border-radius: 10px;
}

.chat-login-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat-login-details input{
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn{
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-secondary{
  background-color: hsl(130, 100%, 35%);
  color: aliceblue;
  font-weight: bold;
  font-size: large;
  transition: all .5s;
}

.btn-secondary:hover{
  background-color: hsl(130, 100%, 25%);
}